@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: 80px 1fr;

}

.header {
  background-color: #673ab7;
  display: grid;
  align-items: center;
  justify-content: start;
  padding: 0px 30px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}

.header .menus {
  display: flex;
  align-items: center;
  gap: 25px;
}

.content {
  padding: 30px 10px;
  display: grid;
  place-items: center;
  justify-items: stretch;
}

.box {
  flex: 1;
  border: 1px solid #673ab7;
  padding: 30px;
  display: grid;
  place-items: center;
  grid-template-rows: 80px 1fr auto;
  gap: 20px;
}

.box h1 {
  font-size: 60px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions .buttons {
  display: flex;
  gap: 20px;
}

.button {
  background: #673ab7;
  border: none;
  padding: 12px 20px;
  color: #fff;
  cursor: pointer;
}

.actions .form {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.splitter {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.reselect {
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
  justify-self: stretch;
}

.reselect .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reselect .menu-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reselect .menu-item h2 {
  margin-bottom: 0;
}

.reselect .menu-item .edit {
  display: flex;
  gap: 20px;
}

.reselect .menu-item .info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.reselect .tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reselect .bill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: baseline;
  grid-gap: 10px;
}

.reselect .label {
  font-size: 16px;
  font-weight: 200;
}

.reselect .amount {
  font-size: 16px;
  font-weight: 600;
}

.immer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.immer .container {
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  min-height: 250px;
}

.immer .completed {
  text-decoration: line-through;
  color: #ccc;
}

.immer .list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
}

.rtk-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.humans,
.tasks {
  flex: 1;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.tasks__info {
  display: flex;
  gap: 20px;
  align-items: center;
}



.users-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  align-items: center;
}

.card__avatar {
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card__name {
  font-size: 26px;
  font-weight: 600;
}

.card__address {
  font-size: 13px;
  color: #bbb;
}

.card__email {
  color: #666;
  font-weight: 200;
}

.long__input {
  min-width: 230px;
}

.saga__layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: stretch;
}

.saga__container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  padding: 30px
}


.async-saga__form {
  display: flex;
  gap: 10px;
  justify-content: stretch;
}

.async-saga__loader {
  height: 100px;
  position: relative;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.user__avatar {
  height: 100px;
  border-radius: 50%;
}

.effects {
  align-self: stretch;
}


@media screen and (max-width: 600px) {
  .content {
    padding: 20px;

  }
}